<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cerrar Cita</title>
</head>
<body>
<h1>Cerrar Cita</h1>
<p>La cita ha finalizado. A continuación, se muestran los datos de la cita:</p>

<p>Turno: <span th:text="${cita.turno}"></span></p>
<p>Sede: <span th:text="${cita.sede.nombre}"></span></p> <!-- Asegúrate de que 'sede' tiene un atributo 'nombre' -->
<p>Fecha: <span th:text="${cita.fecha}"></span></p>
<p>Hora: <span th:text="${cita.hora}"></span></p>
<p>empleado: <span th:text="${cita.id_empleado}"></span></p>
<p>Servicio: <span th:text="${cita.servicio}"></span></p>

<a th:href="@{/empleado/portal-empleado/{id}(id=${cita.id_empleado})}">Volver al portal del empleado</a>
</body>
</html>