<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Banco Diner</title>
</head>
<body style="background-color:#bdbdbd;">
<h1>Bienvenido</h1>
<p>Escoge la opción que vas a utilizar</p>
<form>
    <div class="row mt-3">
        <div class="col-12 text-center">
            <button type="submit" class="btn btn-InicioS">Inicio de sesión</button>
        </div>
    </div>
</form>
<form>
    <div class="row mt-4">
        <div class="col-12 text-center">
            <button type="submit" class="btn btn-Registrarse">Registro</button>
        </div>
    </div>
</form>
</body>
</html>